p {
  font-size: 2rem; }

body {
  margin: 0;
  padding: 0;
  background-color: #849AC5;
  color: #ffffff;
  font-family: "Roboto", sans-serif; }

header {
  display: flex;
  justify-content: flex-end; }

a {
  color: #ffffff;
  font-size: 2rem;
  text-decoration: none;
  transition: font-size 0.3s ease; }
  a:hover {
    font-size: 2.5rem;
    color: #ffffff; }
  @media (max-width: 557px) {
    a {
      font-size: 1.6rem; } }

/* Styles for the hamburger menu */
.hamburger-btn {
  position: fixed;
  top: 15px;
  right: 10px;
  width: 40px;
  height: 24px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  cursor: pointer; }

.hamburger-line {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  transition: transform 0.3s, opacity 0.3s; }

.hamburger-btn.active .hamburger-line:nth-child(2) {
  opacity: 0; }

.hamburger-btn.active .hamburger-line:nth-child(1) {
  transform: translateY(10px) rotate(45deg); }

.hamburger-btn.active .hamburger-line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg); }

nav {
  position: relative;
  right: 15px;
  top: 36%; }

.navigation-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0;
  flex-direction: column; }

.navigation-item {
  display: inline-block;
  padding: 10px; }

main section {
  height: 100vh;
  padding: 30px; }
  main section h2 {
    font-size: 4rem;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out; }
    main section h2.active {
      opacity: 1;
      transform: translateX(0); }
  main section p {
    font-size: 2.5rem; }
    @media (max-width: 557px) {
      main section p {
        font-size: 1.6rem; } }
  main section .typewriter {
    font-family: 'Courier New', Courier, monospace; }

#about-me {
  background-color: #657070; }

#certifications {
  background-color: #D1C4B8; }

#projects {
  background-color: #849AC5; }

#contact {
  background-color: #A7BDCC; }

.image-container {
  position: relative;
  height: 100vh;
  background-image: url("../Images/samuel-coleman-bear-lake.jpeg");
  background-size: cover;
  background-position-y: 67%; }

@media (max-width: 557px) {
  .image-container {
    background-position-x: 30%; } }

.gradient-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 40%;
  width: 60%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.88));
  z-index: 1;
  transform: translateX(100%);
  transition: transform 0.7s; }
  .gradient-overlay.active {
    transform: translateX(0); }

.overlay-text {
  position: absolute;
  top: 20%;
  padding-right: 20px;
  transform: translate(100%, -48%);
  text-align: right;
  color: #ffffff;
  width: 50%;
  z-index: 2; }

.overlay-text h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-family: "PT Sans", sans-serif; }
  @media (max-width: 557px) {
    .overlay-text h1 {
      font-size: 3rem; } }

.cert-container {
  display: flex;
  flex-wrap: wrap; }
  .cert-container .badge-card {
    margin: 0 20px 20px 0;
    background-color: #ffffff5c;
    border-radius: 3px; }
    .cert-container .badge-card.active {
      transform: scaleY(1);
      opacity: 1; }

.projects-container {
  display: flex;
  flex-direction: column; }
  .projects-container a {
    text-decoration: none;
    color: #ffffff;
    width: 50%; }
    .projects-container a .project-card {
      transform: scale(0);
      transition: transform 0.7s ease; }
      .projects-container a .project-card h3 {
        font-size: 3rem;
        margin: 0;
        transition: font-size 0.7s ease; }
      .projects-container a .project-card p {
        font-size: 1.5rem;
        padding: 5px;
        margin: 0;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 0.7s ease, max-height 0.7s ease; }
      .projects-container a .project-card.description-visible p {
        opacity: 1;
        max-height: 300px; }
      .projects-container a .project-card.description-visible h3 {
        font-size: 3.5rem; }
      .projects-container a .project-card.active {
        transform: scale(1); }

.contact a {
  display: block;
  width: fit-content; }

.carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center; }

.carousel-indicators {
  bottom: -50px; }

.carousel-item {
  transform: translateX(-175px); }
