/*$main-color: #7FFFD4;
$lighter-shade: #B2FFFF;
$darker-shade: #00CDCD;
$accent-color-1: #FF7F50;
$accent-color-2: #FFD700;
$accent-color-3: #32CD32;
$text-color-light: #FFFFFF;
$text-color-dark: #333333;
$text-color-accent: #FFFFFF;*/
