@import 'variables';

body{
    margin: 0;
    padding: 0;
    background-color: $accent-color-2;
    color: $text-color-light;
    font-family: $font-family;
}
header {
    position: fixed;
    background-color: $accent-color-2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 50px;
    color: $text-color-dark;
    box-shadow: 0 2px 5px black;
}
.title {
    //padding: 0 20px;
}
.navigation-list {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0;
}
.navigation-item {
    display: inline-block;
    padding: 10px;
    a {
        color: $text-color-dark;
        text-decoration: none;
    }
    :hover {
        color: $accent-color-2;
    }

}

main {
    position: relative;
    top: 50px;
    margin: 0 20px;
}
  .image-container {
    position: relative;
    height: 100vh;
    background-image: url("../Images/samuel-coleman-bear-lake.jpeg");
    background-size: cover;
    background-position-y: 67%;
  }
  
  .gradient-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 40%;
    width: 60%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, .88));
    z-index: 1;
  }
  
  .overlay-text {
    position: absolute;
    top: 50%;
    transform: translate(100%, -48%);
    text-align: right;
    color: #ffffff;
    width: 50%;
    z-index: 2;
  }
  
  .overlay-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: $header-font;
  }
  