@import 'variables';

body{
    margin: 0;
    padding: 0;
    background-color: $accent-color-2;
    color: $text-color-light;
    font-family: $font-family;
}
header {
    position: fixed;
    background-color: $accent-color-2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 50px;
    color: $text-color-dark;
    box-shadow: 0 2px 5px black;
}
nav {
    position: relative;
    top: 28%;
}
.navigation-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0;
    flex-direction: column;
}
.navigation-item {
    display: inline-block;
    padding: 10px;
    a {
        color: $text-color-light;
        text-decoration: none;
        transition: font-size 0.3s ease;
    }
    :hover {
        font-size: 1.2em;
    }

}

main {
    position: relative;
    top: 50px;
    margin: 0 20px;
}
  .image-container {
    position: relative;
    height: 100vh;
    background-image: url("../Images/samuel-coleman-bear-lake.jpeg");
    background-size: cover;
    background-position-y: 67%;
  }
  
  .gradient-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 40%;
    width: 60%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.88));
    z-index: 1;
    animation: fadeOutRight 0.5s forwards; /* Initial animation to fade out the overlay */
    }

@keyframes fadeOutRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes fadeInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
  .overlay-text {
    position: absolute;
    top: 20%;
    transform: translate(100%, -48%);
    text-align: right;
    color: #ffffff;
    width: 50%;
    z-index: 2;
  }
  
  .overlay-text h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-family: $header-font;
  }
  